
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    box-sizing: border-box; 
    font-family: "JetBrains Mono", monospace;
}




.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #242323;
    border-bottom: 2px solid rgb(117, 115, 115);
    height: 80px; 
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    height: 100%; 
}


.logo-coffeinc {
    font-size: 2rem;
    color: #FFFFFF;
    white-space: nowrap;
}

.simbolo {
    color: #FF5500;
    letter-spacing: -7px; 
    margin-right: 5px;
}

.nome {
    color: #FFFFFF;
}


#menu-toggle {
    display: none; 
}

.hamburger {
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 1002;
}

.hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: 0.3s;
}


.navbar {
    margin-left: auto;
}

.navbar a {
    color: white;
    font-size: 1.4rem;
    margin: 0 1rem;
    font-weight: 500;
}

.navbar a:hover {
    color: #FF5500;
    border-bottom: 0.1rem solid #ed7d46;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}


.home-container {
    background: url('Gemini_Generated_Image_j84pej84pej84pej.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

.home-container section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.home-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.899);
}

.content {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
}

.content h3 {
    color: white;
    font-size: 4rem;
}

.content p {
    color: white;
    font-size: 2rem;
    padding-top: 1.5rem;
}


.buttons {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

#btn-Infra, #btn-Card, #btn-pedidos {
    padding: 1rem 3rem;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#btn-Infra {
    background-color: white;
    color: black;
}

#btn-Card {
    background-color: #FF5500;
    color: white;
}

#btn-pedidos {
    background-color: white;
    color: #FF5500;
}

#btn-pedidos img {
    width: 20px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(48%) sepia(96%) saturate(2200%) hue-rotate(2deg) brightness(102%);
}


.Coffeinc {
    background-color: white;
}

#Estrutura {
    text-align: center;
    padding: 4rem 0;
}

#infor {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.card {
    background: #fff;
    padding: 3rem 2.5rem;
    border: 3px solid rgb(246, 243, 243);
    border-radius: 14px;
    text-align: left;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.18);
}

.card:hover {
    transform: translateY(-6px);
}

.icon {
    padding-bottom: 1.5rem;
}

.icon img {
    width: 60px;
    height: auto;
}

.info-icon {
    margin-bottom: 1rem;
}


.debugar {
    background-color: #ff4000;
    padding: 5rem 2rem;
    text-align: center;
}

.debugar h2 {
    color: #FFFFFF;
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.debugar p {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
}


.rodape {
    background: #0f0f10;
    color: #b5b5b5;
    padding: 4rem 2rem 2rem;
}

.rodape-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.rodape-coluna h3, .rodape-coluna h4 {
    color: white;
    margin-bottom: 1rem;
}

.rodape h3 span {
    color: #FF5500;
}

.rodape a {
    display: block;
    color: #b5b5b5;
    margin-bottom: 0.6rem;
}

.rodape a:hover {
    color: #FF5500;
}

.rodape-copy {
    border-top: 1px solid #222;
    margin-top: 3rem;
    padding-top: 1.5rem;
    text-align: center;
    font-size: 0.9rem;
    color: #777;
}

.sobre {
    background-color: #242323; 
    color: #FFFFFF; 
    padding: 2rem 2rem; 
    text-align: center; 
    margin-top: 5rem;
   
}  

.sobre h2 {
    font-size: 3rem;
}

.sobre p {
    font-size: 1.5rem;
    margin-top: 1rem;

}

.sobre-cards {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 2rem;              
    margin-top: 3rem;       
    padding-bottom: 4rem;   
}

.card-problema{
    background: #fff;
    padding: 4rem 2.5rem;
    border: 3px solid rgb(246, 243, 243);
    border-radius: 14px;
    text-align: left;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.18);
    max-width: 1000px;
    justify-content: center;
    width: 100%;
}

.card-problema h3 {
    font-size: 2rem;
}

.card-problema p{
    font-size: 1.2rem;
    max-width: 900px;
    margin: 0;
    margin-top: 2rem;
}
.card-problema:hover {
    transform: translateY(-6px);
}

.card-equipe h3 {
    text-align: center; 
    margin-bottom: 2rem;
}


.grid-membros {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;              
    gap: 20px;
}


.membro {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: 120px;      
}    

.avatar-bola {
    width: 80px;       
    height: 80px;      
    background-color: #FF5500;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 50%; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 10px; 
    box-shadow: 0 4px 10px rgba(255, 85, 0, 0.4); 
}


.membro p {
    font-weight: 600;
    color: #242323;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}   

#equipe{
    margin-bottom: 3rem;
}

.cardapio{
    background-color: #242323; 
    color: #FFFFFF; 
    padding: 2rem 2rem; 
    text-align: center; 
    margin-top: 5rem;

}

.cardapio h2{
    font-size: 2rem;

}
 #Bebidas{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
 }

 .cardapio{
    display: flex;
    flex-direction: column;
    
 }

 
.menu-section {
    max-width: 1000px;  
    width: 90%;         
    margin: 0 auto;     
    padding: 4rem 0;
}

.titulo-categoria {
    text-align: center;
    font-size: 2.5rem;
    color: #242323;
    margin-bottom: 2.5rem;
    font-weight: 700;
    margin-top: 3rem;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem;         
    justify-content: center;
}

.menu-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08); 
    transition: transform 0.3s ease;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
}

.menu-card:hover {
    transform: translateY(-5px);
}

.card-img {
    width: 100%;
    height: 200px;       
    object-fit: cover;
    display: block;
}

.card-info {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-info h4 {
    font-size: 1.2rem;
    color: #222;
    margin-bottom: 0.5rem;
    font-weight: 800;
}

.preco {
    color: #FF5500;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.btn-ver-mais {
    margin-top: auto; 
    width: 100%;
    background-color: #242323;
    color: white;
    padding: 0.8rem;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    text-align: center;
    border: none;
}

.btn-ver-mais:hover {
    background-color: #FF5500;
}






.infra-topo {
    background-color: #242323;
    color: white;
    text-align: center;
    padding: 80px 20px;
    margin-top: 3rem;
}

.infra-topo h1{
    font-size: 3rem;

}
.infra-topo p{
    font-size: 1.5rem;

}

.infra-conteudo {
    background-color: #f5f5f5;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.infra-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px; 
    max-width: 1000px;
    width: 100%;
}


.cartao {
    background: white;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #ddd;
    text-align: left;
    min-height: 500px;
    

}

.cartao-infra{
    background: white;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #ddd;
    text-align: left;
    min-height: 250px;
   
}
.cartao-infra h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.cartao-infra ul{
    padding-left: 30px;
    line-height: 1.8; 
}

.emoji-grande {
    font-size: 50px;
    margin-bottom: 15px;
}


.cartao ul {
    padding-left: 20px;
    line-height: 1.8; 
}


.foto-infra {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 15px;
}


.preco-verde { 
    color: green; font-weight: bold; font-size: 1.5rem; 
}
.preco-laranja {
     color: #FF5500; font-weight: bold; font-size: 1.5rem;
     }


.botao-preto {
    width: 100%;
    padding: 10px;
    background: #242323;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 10px;
}

.botao-laranja {
    width: 100%;
    padding: 10px;
    background: #FF5500;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
    margin-top: 50px;
}

.texto-cartao{
    margin-top: 30px;
}

.infra-contato {
    background-color: #242323;
    color: white;
    text-align: center;
    padding: 50px 20px;
    margin-top: 4rem;
}

.infra-contato h1{
    font-size: 3.5rem;
}

.infra-contato p {
    font-size: 1.5rem;
}



.contato-container {
    max-width: 900px;
    margin: 0 auto; 
    padding: 50px 20px;
    font-family: sans-serif;
}


.grade-superior {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    margin-bottom: 30px;
}

.cartao-contato {
    background: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #ddd; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.05); 
}


.emoji-icon {
    font-size: 35px;
    margin-bottom: 15px;
}


.cartao-contato h3 {
    margin-bottom: 10px;
    color: #333;
}

.cartao-contato p {
    color: #666;
    line-height: 1.6;
}


.area-mapa {
    background: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.area-mapa h3 {
    margin-bottom: 20px;
    color: #333;
}


.mapa-cinza {
    width: 100%;
    height: 300px;
    background-color: #e0e0e0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    font-weight: bold;
}




































































@media (max-width: 1024px) {
    .content h3 { font-size: 3rem; }
    .content p { font-size: 1.6rem; }
    .cards { grid-template-columns: repeat(2, 1fr); }
    .rodape-container { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 768px) {
    
    .header { height: auto; min-height: 80px; }
    body { padding-top: 0; }
    
    #menu {
        padding: 1.5rem;
        position: relative; 
    }

    .logo-coffeinc {
        margin-right: 0;
        font-size: 1.6rem;
    }
     .menu-grid {
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: 0 auto;
    }
  
    .hamburger { display: flex; }

    .infra-grid {
        grid-template-columns: 1fr;
    }
    .navbar {
        position: fixed;
        top: 80px;
        left: -100%; 
        width: 100%;
        height: calc(100vh - 80px);
        background-color: #242323;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 3rem;
        border-top: 1px solid #333;
        transition: 0.4s ease-in-out;
        display: flex; 
    }

    .navbar a {
        display: block;
        width: 100%;
        text-align: center;
        margin: 1.5rem 0;
        font-size: 1.6rem;
    }

    
    #menu-toggle:checked ~ .navbar {
        left: 0; 
    }

   
    #menu-toggle:checked ~ .hamburger .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    #menu-toggle:checked ~ .hamburger .bar:nth-child(2) {
        opacity: 0;
    }
    #menu-toggle:checked ~ .hamburger .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
    .grade-superior {
        grid-template-columns: 1fr; /* Fica um embaixo do outro no celular */
    }

   
    .content h3 { font-size: 2.2rem; }
    .content p { font-size: 1.3rem; }
    
    .buttons { flex-direction: column; gap: 1rem; }
    .buttons a { width: 100%; }

    .cards { grid-template-columns: 1fr; padding: 2rem 0; }
    .card { text-align: center; }

    .debugar h2 { font-size: 1.6rem; }
    .debugar p { font-size: 1.2rem; }
    
    .rodape-container { grid-template-columns: 1fr; text-align: center; }
    .menu-grid {
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .content h3 { font-size: 1.9rem; }
    .content p { font-size: 1.1rem; }
    
    #btn-Infra, #btn-Card {
        font-size: 1.1rem;
        padding: 0.9rem 1.5rem;
    }
    
    #infor { font-size: 2.2rem; }
}



